@use '../../styles/variables' as *;

.wrapper {
  gap: 8rem;
  color: $primary-font-color;
}

.shortStatsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  .sectionTitle {
    font-size: 24px;
    font-weight: 500;
  }

  .wordsStatsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 1rem;
    gap: 1rem;

    .shortStatsTitle {
      font-size: 19px;
      border-bottom: solid rgb(0, 218, 116);
    }

    .wordsStats {
      display: flex;
      flex-direction: column;
      align-items: left;
      padding: 1rem;
      border: solid 2px;
      border-radius: 10px;
    }
  }

  .gamesStatsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .shortStatsTitle {
      font-size: 19px;
      border-bottom: solid rgb(0, 218, 116);
    }

    .gamesStats {
      display: flex;
      justify-content: center;
      gap: 2rem;
      flex-wrap: wrap;

      .gamesStatsItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 2px;
        border-radius: 10px;
        padding: 1rem;

        .gameTitle {
          border-bottom: 2px solid $primary-font-color;
          width: 100%;
          text-align: center;
          padding-bottom: 0.6rem;
        }
      }
    }
  }
}

.longStatsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .sectionTitle {
    font-size: 24px;
    font-weight: 500;
    flex-wrap: wrap;
  }

  .chart {
    display: flex;
    flex-direction: column;
    align-items: center;

    .chartTitle {
      font-size: 18px;
      border-bottom: solid rgb(0, 156, 218);
    }
  }
}
