@use '../../styles/variables' as *;

.wrapper {
  gap: 40px;
}

.groupsSection, .wordsSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.groupsSection {
  align-self: baseline;
}

.sectionTitle {
  font-weight: bold;
  font-size: 3.2rem;
}

.wordsBody {
  display: flex;
  gap: 40px;
}