@use '../../../styles/variables' as *;

.root {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textInput {
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
  border: none;

  &:disabled {
    color: $disabled;
    background-color: $disabled-light;
    opacity: 0.8;
    pointer-events: none;
  }
}

.validateError {
  color: $error;
  font-size: 1.6rem;

  &::before {
    display: inline;
    content: "⚠ ";
  }
}