@use '../../../styles/variables' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  .signUp {
    background-color: #002520;
    
    &:hover {
      background-color: #00493f;
    }
  }
}

.textInput {
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
  border: none;

  &:disabled {
    color: $disabled;
    background-color: $disabled-light;
    opacity: 0.8;
    pointer-events: none;
  }

  &:-webkit-autofill:disabled {
    -webkit-text-fill-color: $disabled !important;
    -webkit-box-shadow: 0 0 0 30px $disabled-light inset !important;
    box-shadow: 0 0 0 30px $disabled-light inset !important;
    opacity: 0.8;
    pointer-events: none;
  }

  &:focus {
    outline: 2px solid #FFCC29;
    border-radius: 6px;
  }
}

.validateError {
  color: $error;
  font-size: 1.4rem;
  text-align: center;
}