@use '../../styles/variables' as *;

.root {
  margin-top: 2rem;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .page, .break, .prev, .next {
    width: 40px;
    height: 40px;
    list-style: none;
    text-align: center;
  }

  .link, .break a, .prev a, .next a {
    height: 40px;
    line-height: 40px;
    display: block;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;

    &:hover {
      background-color: $hover;
    }
  }

  .prev a, .next a {
    font-size: 24px;
  }

  .activeLink {
    background-color: $active;

    &_learned {
      outline: 4px #2e9a00 dashed;
    }
  }

  .disabled {
    color: $disabled;
    pointer-events: none;
  }

  .break {
    pointer-events: none;
  }
}