.gameStart, .gameContent {
    width: 100%;
}

.gameStart {
    display: flex;
    flex-direction: column;
}

.gameContent {
    flex-direction: column;
}

.wordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 20px;
}
