.gameContentContainer {
	display: flex;
	flex-direction: column;
	row-gap: 6rem;
	border: solid 2px rgb(0, 54, 102);
	border-radius: 16px;
  padding: 6rem;

	.timerAndCount {
		display: flex;
		flex-direction: column;
		row-gap: 6rem;

		.content {
			display: flex;
			justify-content: center;
			align-items: center;
			column-gap: 14rem;
	
			&_timer {
				display: flex;
				flex-direction: column;
				align-items: center;
				row-gap: 2rem;
				background-color: rgb(30, 41, 59);
				padding: 1rem 2rem;
				border-radius: 10px;
				width: 110px;
	
				.clockIcon {
					width: 32px;
					height: 32px;
					color: white;
				}

				.clockCount {
					background-color: yellow;
					padding: 0.5rem;
					border-radius: 6px;
				}
			}

			&_counter {
				display: flex;
				flex-direction: column;
				align-items: center;
				row-gap: 2rem;
				background-color: rgb(30, 41, 59);
				padding: 1rem 2rem;
				border-radius: 10px;
				width: 110px;

				.counterText {
					color: white;
					height: 32px;
				}

				.counterCount {
					background-color: yellow;
					padding: 0.5rem;
					border-radius: 6px;
				}
			}
		}

		.wordContainer {
			display: flex;
			justify-content: center;
			align-items: center;
			column-gap: 2rem;
			flex-wrap: wrap;

			.wordLeft {
				display: flex;
				justify-content: right;
				width: 200px;
			}

			.wordRight {
				display: flex;
				justify-content: left;
				width: 200px;
			}

			.equalSign {
				font-size: 24px;
			}

			p {
				padding: 10px 40px;
				font-weight: 600;
				font-size: 18px;
				background-color: rgb(30, 41, 59);
				width: 100%;
				text-align: center;
				color: white;
				border-radius: 10px;
				margin: 0;
			}
		}
	}

	.buttonContainer {
		display: flex;
		justify-content: center;
		column-gap: 6rem;

		&_true, &_false {
			border: solid 2px rgb(30, 41, 59);
			background-color: transparent;
			color: rgb(30, 41, 59);
			font-weight: 800;
			height: 46px;
			width: 100px;
			border-radius: 10px;
		}
			
		&_true {
			&:hover {
				background-color: rgb(134, 214, 14);
			}
		}
			
		&_false {
			&:hover {
				background-color: rgb(255, 36, 36);
			}
		}
	}
}

@media (max-width: 642px) {
	.gameContentContainer {
		.timerAndCount {
			.wordContainer {
				flex-direction: column;
			}
		}
	}
}

@media (max-width: 560px) {
  .gameContentContainer {
		padding: 4rem 2rem;
    .timerAndCount {
			.content {
				column-gap: 0;
				justify-content: space-between;
			}
		}
  }
}

