.audiocallResult {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  background-color: aliceblue;
  width: 400px;
  border-radius: 10px;
  align-items: center;

  .resultsNav {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6rem;
    height: 40px;
    margin-bottom: 2rem;

    &_button {
      border: none;
      font-size: 18px;
      width: 100px;
      height: 50px;
      background-color: transparent;
      cursor: pointer;
      
      &:hover {
        color: yellowgreen;
      }
    }
  }

  .resultsBody {
    display: flex;
    justify-content: center;
    height: 340px;

    .pieChartContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      row-gap: 2rem;
    }

    .audiocallResultWords {
      display: flex;
      flex-direction: column;
      row-gap: 3rem;
      overflow-y: auto;
      padding: 20px;

      .correctWrongText {
        font-size: 20px;
        font-weight: 600;
      }

      &_list {
        display: flex;
        flex-direction: column;
        list-style: none;
        row-gap: 2rem;

        .listElement {
          display: flex;
          column-gap: 1rem;
          align-items: center;

          &_word {
            font-size: 18px;
            word-spacing: 0.6rem;
          }

          &_audioButton {
            width: 40px;
            height: 40px;
            cursor: pointer;
            border-radius: 50%;
            padding: 0.5rem;
        
            &:hover {
              background-color: rgb(224, 224, 224);
            }
          }
        }
      }
    }
  }
}

.pieChart {
  --w: 200px;

  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 34px;
  font-weight: bold;
  font-family: sans-serif;
  color: #1E293B;
  animation: p 1s .10s both;
}

.pieChart::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: conic-gradient(var(--main-color) calc(var(--percentage)*1%), rgb(196, 204, 209) 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--border-thickness)), #000 calc(100% - var(--border-thickness)));
  mask: radial-gradient(farthest-side, #0000 calc(99% - var(--border-thickness)),#000 calc(100% - var(--border-thickness)));
}

@property --percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@keyframes p {
  from {--percentage: 0}
}

.tryAgainButton {
  border: none;
  background-color: rgb(58, 255, 101);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;

  &:hover {
    background-color: rgb(48, 212, 84);
  }
}

// scroll-bar

.audiocallResultWords::-webkit-scrollbar {
  width: 8px;
}

.audiocallResultWords::-webkit-scrollbar-track {
  background: none;
}

.audiocallResultWords::-webkit-scrollbar-thumb {
  background-color: rgb(0, 119, 255);
  border-radius: 20px;
}