@use '../../styles/variables' as *;

.groupItem {
  cursor: pointer;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  border: 4px solid;
  border-radius: 50%;
}

.A1 {
  border-color: #07DD36;
  background-color: transparent;
  font-weight: 600;
  font-size: 22px;
  color: #00AA30;

  &:hover {
    background-color: #07DD36;
    color: #FFFFFF;
  }

  &_active {
    background-color: #07DD36;
    color: #FFFFFF;
  }
}

.A2 {
  border-color: #6AB60A;
  background-color: transparent;
  font-weight: 600;
  font-size: 22px;
  color: #5CA400;

  &:hover, &_active {
    background-color: #6AB60A;
    color: #FFFFFF;
  }
}

.B1 {
  border-color: #DDD407;
  background-color: transparent;
  font-weight: 600;
  font-size: 22px;
  color: #9A940E;

  &:hover, &_active {
    background-color: #DDD407;
    color: #FFFFFF;
  }
}

.B2 {
  border-color: #C59B07;
  background-color: transparent;
  font-weight: 600;
  font-size: 22px;
  color: #A58000;

  &:hover, &_active {
    background-color: #C59B07;
    color: #FFFFFF;
  }
}

.C1 {
  border-color: #C26C06;
  background-color: transparent;
  font-weight: 600;
  font-size: 22px;
  color: #C96D00;

  &:hover, &_active {
    background-color: #C26C06;
    color: #FFFFFF;
  }
}

.C2 {
  border-color: #C52300;
  background-color: transparent;
  font-weight: 600;
  font-size: 22px;
  color: #CF2F0C;

  &:hover, &_active {
    background-color: #C52300;
    color: #FFFFFF;
  }
}

// E94560 E9E245 E0E50F C00909 069325
