@use '../../styles/variables' as *;

.groupItem {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(0, 230, 31);

  &:hover {
    background-color: rgb(0, 167, 22);
  }

  &_active {
    background-color: rgb(10, 112, 23);
    color: white;
  }
}

// .A1 {
//   background-color: rgb(95, 255, 47);
// }

// .A2 {
//   background-color: rgb(200, 255, 47);
// }

// .B1 {
//   background-color: rgb(250, 246, 41);
// }

// .B2 {
//   background-color: rgb(255, 224, 47);
// }

// .C1 {
//   background-color: rgb(255, 182, 47);
// }

// .C2 {
//   background-color: rgb(255, 106, 47);
// }
