@use '../../styles/variables' as *;

.root {
  height: fit-content;
  padding: 10px 15px;
  background-color: $error-light;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}