* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  font-size: 1.8rem;
  font-family: $roboto;
  color: $primary;
  background-color: $bg-primary;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header, main, footer {
  width: 100%;
}

main {
  flex-grow: 1;
}