$primary: #151515;
$light: #ffffff;
$hover: #85b1dd;
$active: #a8caec;
$error: #e72d1c;
$error-light: #fe8585;
$disabled: #707070;
$disabled-light: #dcdcdc;

$bg-primary: #e8e8e8;

$container-max-width: 1280px;

$primary-font-color: rgba(30, 41, 59, 1);
$pr-fc-hover: rgba(13, 148, 136, 1);
$description-font-color: #164E63;

// rgba(13, 148, 136, 1)
