.audiocallAnswers {
  display: flex;
  justify-content: center;
  row-gap: 2rem;
  flex-wrap: wrap;
  column-gap: 2rem;

  &_answer {
    border: none;
    background-color: rgb(0, 217, 255);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: rgb(0, 181, 212);
    }

    &:disabled {
      cursor: default;
      color: black;
    }

    &[disabled]:hover {
      background: rgb(0, 217, 255);
    }
  }
}

.correctAnswer {
  background-color: rgb(79, 197, 0);

  &[disabled]:hover {
    background: rgb(79, 197, 0);
  }
}

.wrongAnswer {
  background-color: rgb(235, 0, 0);

  &[disabled]:hover {
    background: rgb(235, 0, 0);
  }
}