.audiocallAnswersContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 4rem;

  .audiocallAnswers {
    display: flex;
    justify-content: center;
    row-gap: 2rem;
    flex-wrap: wrap;
    column-gap: 2rem;
  
    &_answer {
      border: none;
      background-color: transparent;
      padding: 10px 20px;
      border-radius: 20px;
      border: solid 2px #E94560;
      font-size: 16px;
      cursor: pointer;
      color: rgb(30, 41, 59);
      font-weight: 600;

      &:hover {
        background-color: #E94560;
        color: #ffe81d;
      }
  
      &:disabled {
        cursor: default;
      }
  
      &[disabled]:hover {
        background: transparent;
        color: rgb(30, 41, 59);
      }
    }
  }

  .dontKnowButton {
    border: none;
    background-color: transparent;
    padding: 12px 32px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(30, 41, 59);
    font-weight: 600;
    border: 2px solid #E9E245;

    &:hover {
      background-color: #E9E245;
    }
  }
}

.correctAnswer {
  background-color: #009643;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  color: white;

  &[disabled]:hover {
    cursor: auto;
  }
}

.wrongAnswer {
  background-color: #C00909;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  color: white;

  &[disabled]:hover {
    cursor: auto;
  }
}
