@use '../../styles/variables' as *;

.audiocallWrapper {
  display: flex;
  color: $primary-font-color;

  &_groupsAndButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6rem;
    margin-top: 6rem;

    .gameDescription {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 4rem;

      .name {
        font-size: 50px;
      }
  
      .description {
        font-size: 24px;
        max-width: 500px;
        text-align: center;
      }
    }

    .groupContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 3rem;

      .groupText {
        font-size: 22px;
        font-weight: 600;
      }
    }

    .startAudiocallButton {
      width: 130px;
      height: 48px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      border: none;
      background-color: #E9E245;
      border-radius: 10px;
      font-weight: 600;
      color: $primary-font-color;

      &:hover {
        background-color: #c0b92f;
      }
    }
  }
}
