@use '../../styles/variables' as *;

.audiocallWrapper {
  display: flex;
  margin-top: 6rem;

  &_groupsAndButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6rem;

    .startAudiocallButton {
      width: 90px;
      height: 40px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      border: none;
      background-color: rgb(255, 223, 42);
      border-radius: 10px;

      &:hover {
        background-color: rgb(216, 189, 38);
      }
    }
  }
}
