@use '../../styles/_variables.scss' as *;

.navbar {
  &_content {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    margin: 0;
    padding: 0;
    
    .item {
      list-style: none;
      cursor: pointer;

      .link {
        color: $primary-font-color;
        text-decoration: none;
      }

      .link:hover {
        color: $pr-fc-hover;
      }

      .logInButton {
        width: 90px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9px;
        background-color: $primary-font-color;
        color: white;

        &:hover {
          background-color: white;
          color: $primary-font-color;
          border: solid 2px $primary-font-color;
        }
      }

      .userContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        border-radius: 9px;
        background-color: rgba(52, 211, 153, 1);
        height: 50px;
        width: 180px;
        cursor: auto;
      }

      .logOutButton {
        border: solid $primary-font-color 2px;
        width: 90px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9px;
        background-color: white;
        color: $primary-font-color;

        &:hover {
          background-color: $primary-font-color;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    &_content {
      flex-direction: column;
      margin-top: 2rem;
    }
  }
}
