@use '../../styles/variables' as *;

.root {
  width: 200px;
  height: 100px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $hover;
  }

  &_active {
    background-color: $active;

    .wordTranslate {
      opacity: 1;
    }
  }
}

.wordOriginal {
  font-weight: bold;
  font-size: 2.4rem;
}

.wordTranslate {
  opacity: 0.3;
  font-size: 1.6rem;
  align-self: flex-end;
  text-align: right;
}