@use '../../styles/variables' as *;

.root {
  position: relative;
  width: 200px;
  height: 100px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: $hover;
  }

  &_active {
    background-color: $active;

    .wordTranslate {
      opacity: 1;
    }
  }

  &_hard {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 8px;
      background-color: #ff5252;
      border-radius: 3px;
    }
  }
}

.wordOriginal {
  text-align: left;
  font-weight: bold;
  font-size: 2.4rem;
}

.wordTranslate {
  opacity: 0.3;
  font-size: 1.6rem;
  align-self: flex-end;
  text-align: right;
}