.root {
  min-width: 400px;
  padding: 25px 20px;
  border-radius: 15px;
  background-color: #d8d8ff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.word {
  align-items: center;

  &_original {
    font-size: 3rem;
    font-weight: bold;
  }

  &_transcription {
    font-size: 3rem;
  }

  &_translate {
    padding-top: 10px;
    font-size: 3rem;
    opacity: 0.5;
  }
}

.textBlockTitle {
  font-size: 2rem;
}

.textMeaning {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.6rem;

  i {
    font-style: normal;
    font-weight: bold;
  }

  // &_original {

  // }

  &_translate {
    opacity: 0.5;
  }
}