@use '../../../styles/variables' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .signIn {
    background-color: #002520;
    margin-top: 1rem;
    
    &:hover {
      background-color: #00493f;
    }
  }
}

.textInput {
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
  border: none;

  &:disabled {
    color: $disabled;
    background-color: $disabled-light;
    opacity: 0.8;
    pointer-events: none;
  }

  &:-webkit-autofill:disabled {
    -webkit-text-fill-color: $disabled !important;
    -webkit-box-shadow: 0 0 0 30px $disabled-light inset !important;
    box-shadow: 0 0 0 30px $disabled-light inset !important;
    opacity: 0.8;
    pointer-events: none;
  }

  &:focus {
    outline: 2px solid #FFCC29;
    border-radius: 6px;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.validateError {
  color: rgb(255, 58, 58);
  font-size: 13px;
  position: absolute;
  bottom: -18px;
  font-weight: 600;
}